:root
{
    --contrastcolor: #d0007cdd;
    --bgcolor: #222;
    --hlcolor: #444;
    --textcolor: #fff;
}

html
{
    background-color: var(--bgcolor);
    text-align: center;
    color: var(--textcolor);
    font-family: 'Courier New', Courier, monospace;

    margin: -1% 0%;
    /* overflow: visible; */
}

header
{
    background-color: var(--contrastcolor);
    height: 400px;
    width: 100%;
    transform: translateY(-25%);
    border-radius: 20px;
}

#logo
{
    width: 200px;
    height: auto;
    border-radius: 20px;
    transform: translateY(250px);
    border: 10px solid var(--bgcolor);
}

body
{
    transform: translateY(-100px);
}


#flecha
{

    @media (min-width: 1300px)
    {
        font-size: 0px;
    }
}

#presentacion
{
    position: sticky;
    position: -webkit-sticky;


    @media (min-width: 1300px)
    {
        top: 25% ;
    }
    @media (max-width: 1300px)
    {
        top: 15% ;
    }
    

    background-color: var(--bgcolor);
}


#botonera
{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 40px;


    /* position: sticky;

    top: 0; */

        @media (max-width: 1300px)
    {
        transform: translateY(80px);
    }
}

.boton
{
    font-size: 20px;
    width: 300px;

    padding: 10px;
    margin:10px;

    border: 5px solid;
    border-radius: 5px;

    border-color: var(--textcolor);
    color: var(--textcolor);
    background-color: var(--bgcolor);

    text-decoration: none;
    cursor: pointer;


    scale: 1;
    transition: 0.5s ease;
}


.boton:hover
{
    background-color: var(--hlcolor);
    transition: 0.2s ease;
    scale: 1.10;
}


a
{
    color: var(--textcolor);
    background-color: var(--bgcolor);

    text-decoration: none;
    cursor: pointer;
}





