:root
{
    --hlcolor: #d0007cdd;
    --bgcolor: #222;
    --bghlcolor: #444;
    --textcolor: #fff;
}

html
{
    background-color: var(--bgcolor);
    text-align: center;
    color: var(--textcolor);
    font-family: 'Courier New', Courier, monospace;

    margin: -1% 0%;
}

header
{
    background-color: var(--hlcolor);
    height: 400px;
    width: 100%;
    transform: translateY(-25%);
    border-radius: 20px;

    /* position: sticky;
    top: 0; */

}

#logo
{
    width: 200px;
    height: auto;
    border-radius: 20px;
    transform: translateY(250px);
    border: 10px solid #222;
}


body
{
    transform: translateY(-100px);
}

#titulo
{
    background-color: var(--bgcolor);
    /* margin: 0% 10%; */


    /* padding-top: 50px;
    transform: translateY(-100px); */
    

    /* position: sticky;
    top: 150px;

    z-index: 1; */
    
}


#botonera
{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 40px;
}

a
{
    font-size: 20px;
    width: 300px;

    padding: 10px;
    margin:10px;

    border: 5px solid;
    border-radius: 5px;

    border-color: var(--textcolor);
    color: var(--textcolor);
    background-color: var(--bgcolor);

    text-decoration: none;
    cursor: pointer;


    scale: 1;
    transition: 1s ease;
}

a:hover
{
    background-color: var(--bghlcolor);
    transition: 0.5s ease;
    scale: 1.05;
}










