html
{
    background-color: #222;
    text-align: center;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

a
{
    border: 5px solid;
    border-color: #fff;
    color: #fff;
    border-radius: 5px;
    background-color: #222;
    padding: 10px;
    margin:10px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    width: 300px;

    scale: 1;
    transition: 0.5s ease;
}

a:visited
{
    color: #fff;
}

a:hover
{
    background-color: #444;
    transition: 0.5s ease;
    scale: 1.2;
}

#top
{
    background-color: #d0007c;
    transform: translateY(-50%);
}

#logo
{
    width: 200px;
    height: auto;
    border-radius: 10%;
    margin: 5%;
    transform: translateY(70%);
    border: 10px solid #222;
}