:root
{
    --bgcolor: #222;
    --hlcolor: #444;
    --hlcolor2: #222b;
    --textcolor: #fff;
}


html
{
    background-color: var(--bgcolor);
    color: var(--textcolor);

    font-family: 'Courier New', Courier, monospace;



    
}

body
{
    transition: 0.5s ease;


    @media (min-width: 1300px)
    {
        margin: 0% 30%;
        
    }
}

button
{
    background: inherit;
    border-color: var(--textcolor);
    color: var(--textcolor);

    margin: 0.5% 0 0.5%;
    padding: 5px 8px;
    border-radius: 10px;
    border-style: solid;

    transition: 0.2s ease-in;

    font-family: 'Courier New', Courier, monospace;
}

button:hover
{
    background-color: var(--hlcolor);
}

hr
{
    background-color: var(--textcolor);
    border-style:solid;
}

#botonera
{
    background-color: var(--bgcolor);

    top: 0;
    padding: 1% 1% 0%;
    margin: 0 -1%;

    position: sticky;
}

a
{
    color: inherit;
    text-decoration: none;
}

img
{
    background-color: var(--bgcolor);

    height: 200px;
    width: 200px;
    margin: 5px;
    border-radius: 10px;
}

#team
{
    display: flex;
    flex-wrap: wrap;
}

#pokemon
{
    position: relative;

    background-color: var(--textcolor);
    color: var(--bgcolor);
    font-weight: bold;

    display: flex;
    flex-direction: column;
    text-align: center;

    margin:5px;
    padding: 5px;
    border-radius: 10px;
    font-size: 105%;
}

.data
{
    position: absolute;

    color: white;
    border-radius: 10px;
    background-color: var(--hlcolor2);
    width: 90%;
    height: 82%;
    top: 5%;
    left: 5%;

    opacity: 0;
    transition: 0.2s ease;
}

.data:hover, .data:active
{
    opacity: 100%;
}