:root
{
    --bg-color: #222;
    --card-bg: #333;
    --white-color: #eee;
}


html
{
    background-color: var(--bg-color);
    color: var(--white-color);

    font-family: Arial, sans-serif;
    font-weight: bold;

    margin: 1% 0%;

    text-align: center; 

    overflow-x: hidden;

}


#buttonHolder
{
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    padding-top: 25px;

    z-index: 2;
}

select, button
{
    margin: 0px 25px 20px 5px;
    padding: 10px 15px;

    font-size: 16px;
    font-weight: bold;

    border-radius: 8px;
    border: none;

    background-color: var(--card-bg);
    color: var(--white-color);

    cursor: pointer;
}

button:hover, select:hover
{
    background-color: #555;
}


#container
{
    overflow-x: hidden;
}

.twitter-tweet
{
    margin: 25px auto !important;
}

.separator
{
    margin: 25px;
}

.card
{
    background-color: var(--card-bg);
    border: 3px solid var(--white-color);
    border-radius: 15px;

    margin: 10px auto;
    padding: 20px; 

    width: 700px;
    height: 200px;

    position: relative;

    display: flex;
    align-items: center;

    z-index: 1;

    user-select: none;
}


.backgroundImage
{
    background-size: cover;
    border-radius: 12px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 0;
    opacity: 0.2;

    user-select: none;
}

#silksong
{
    background-position: center;
    opacity: 1.0;
}

.image
{
    border-radius: 5%;
    /* width: auto;
    height: 100%; */
    width: 21.5%;
    height: auto;

    margin-right: 4%;

    z-index: 1;
}

.textContainer
{
    width: 100%;
    z-index: 1;

    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    height: 100%;
}

.titleContainer
{

}

.title
{
    font-size: 30px;
    margin-bottom: 5px;
}

span
{
    font-weight: normal;
    font-size: 25px;
    margin-left: 5px;
}

.developer
{

}

.review
{
    padding-top: 3.5%;

    white-space: pre-wrap;
    margin: auto 0;
    display: flex;
    align-items: center;
    padding-top: 0;
}

@media screen and (max-width: 800px)
{
    .card
    {
        width: 90%;
        height: auto;

        flex-direction: column;

        font-size: 20px;
    }

    .image
    {
        margin-bottom: 20px;

        border-radius: 5%;
        width: auto;
        height: 100%;
        /* width: 21%;
        height: auto; */

    margin-right: 4%;

    z-index: 1;

    }

    .titleContainer
    {
        align-items: center;
        text-align: center;

        margin-bottom: 15px;
    }

    .textContainer
    {
        text-align: center;
        align-items: center;
    }

    #silksong
    {
        background-position: top;
        background-size: 250%;
    }
}