:root
{
    --bgcolor: #222;
    --hlcolor: #444;
    --textcolor: #fff;
    --redcolor: #f55;
    --redcolorcontrast: #f88;
}


html
{
    width: 90%;
    margin: 0 auto;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}


button, select, input[type="text"], input[type="number"]
{
    border: none;
    border-radius: 7px;
    padding: 5px 10px;
    margin: 2px 10px;

    text-align: center;

    cursor: pointer;
}

select
{
    width: 150px;
    padding: 4px 9px;
    margin-left: 50px;
    border: 2px solid var(--bgcolor);


}

input[type="text"], input[type="number"]
{
    padding: 4px 9px;
    border: 2px solid var(--bgcolor);

        text-align: left;
}

input[type="number"]
{
    width: 30px;
}

#deleteButton
{
    background-color: var(--redcolor);
    color: var(--textcolor);
}

#deleteButton:hover
{
    background-color: var(--redcolorcontrast);
}

.blacklistButton:hover
{
    color: var(--redcolor);
    border: 2px solid var(--redcolor);
    background-color: #fee;

    padding: 4px 9px;
    margin: 2px 9px;
}


td, th
{
    text-align: center;
}